<div class="input">
    <input class="input__element" type={{type}} name={{name}} id={{name}} placeholder={{name}}>
    <label class="input__label" for={{name}}>{{label}}</label>
    {{#if error_text}}
        <div class="input__error">{{error_text}}</div>
    {{/if}}
</div>
